
// base defaults
params.input  = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata/main/L30_nextflow_your-workflow/L30_dataset_metastasis_risk.tsv"

// defaults
params.outdir = "./"
params.max_cpus        = 1
params.max_memory      = 4.GB

process {
	// default
	machineType = 'n1-standard-1'
	disk        = '100 GB'
	// specific resources
	withName: RANDOMFOREST {
				machineType = 'n1-standard-2'
			}
			withName: LOGREG {
				machineType = 'n1-standard-2'
			}
}

profiles {
    gls {
    process.executor = 'google-batch'
    workDir = 'gs://YOUR-GOOGLE-BUCKET/work'
    google.location = 'europe-west4'
    google.region  = 'europe-west4'
    google.project = 'YOUR-OWN-PROJECT-NAME'
    google.lifeSciences.bootDiskSize = '50 GB'
    }
}
