
// base defaults
params {
	publish_dir_mode = 'copy'
	outdir           = "."
	input            = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata/refs/heads/main/L31_nextflow_more-coding/data/input.tsv"
	max_cpus         = 1
	max_memory       = 4.GB
}

// profiles parameters
profiles {
	helicon {
        apptainer.enabled    = true
        apptainer.autoMounts = true
		params {
            max_cpus   = 4
			max_memory = 16.GB
		}
		process {
			executor = 'slurm'
			queue    = 'short'
			withName: MEAN_SD {
				memory = 5.GB
				time   = 5.m
				cpus = 1
				publishDir = [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/results/mean_sd/${experiment_name}/" }
                    ]
			}
			withName: PC1_LOADING {
				memory = 10.GB
				time   = 15.m
				cpus   = 1
				publishDir = [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/results/pc1_loading/${experiment_name}/" }
                    ]
			}
			withName: MAD {
				memory = 5.GB
				time   = 10.m
				cpus   = 1
				publishDir = [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/results/mad/${experiment_name}/" }
                    ]
			}
			withName: SUMMARY {
				memory = 5.GB
				time   = 10.m
				cpus   = 1
				publishDir = [
                    mode: params.publish_dir_mode,
                    path: { "${params.outdir}/results/summary" }
                    ]
		    }
	    }
	}
	desktop {
        docker.enabled         = true
        docker.userEmulation   = true
		process.executor       = 'local'
		params.max_cpus        = 1
		params.max_memory      = 4.GB
	}
	arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}