// base defaults
params {
	input  = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata/main/L29_nextflow_assembling-workflow/L29_dataset_biodegradation.tsv"
	outdir = "./"
	max_cpus   = 1
	max_memory = 4.GB
}

env {
	TZ = 'Europe/Rome' // this is needed because container doesn't have a timezone
}

profiles {
	helicon {
        apptainer.enabled    = true
        apptainer.autoMounts = true
		params {
			max_cpus   = 4
			max_memory = 16.GB
		}
		process {
			executor = 'slurm'
			queue    = 'short'
			withName: RANDOMFOREST {
				memory = 20.GB
				time   = 90.m
				cpus = 8
			}
			withName: LINEARMODEL {
				memory = 8.GB
				time   = 30.m
			}
		}
	}
	desktop {
        docker.enabled         = true
        docker.userEmulation   = true
		process.executor = 'local'
	}
	arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}
