
// base defaults
params.input  = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata/main/L29_nextflow_assembling-workflow/L29_dataset_biodegradation.tsv"
params.outdir = "./"

env {
	TZ = 'Europe/Rome' // this is needed because container doesn't have a timezone
}

profiles {
	helicon {
        singularity.enabled    = true
        singularity.autoMounts = true
		process {
			executor = 'slurm'
			queue    = 'short'
			withName: RANDOMFOREST {
				memory = 20.GB
				time   = 90.m
				cpus = 8
			}
			withName: LINEARMODEL {
				memory = 8.GB
				time   = 30.m
			}
		}
		params.max_cpus        = 4
		params.max_memory      = 16.GB
	}
	desktop {
        docker.enabled         = true
        docker.userEmulation   = true
		process.executor       = 'local'
		params.max_cpus        = 1
		params.max_memory      = 4.GB
	}
	arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}