
// base defaults
params.input  = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata-2023/main/L29_nextflow_assembling-workflow/data/L29_dataset_larger_biodegradation.tsv"
params.outdir = "./"

env {
	TZ = 'Europe/Rome' // this is needed because container doesn't have a timezone
}

profiles {
	helicon {
        singularity.enabled    = true
        singularity.autoMounts = true
		process.executor       = 'slurm'
		process.queue          = 'short'
		params.max_cpus        = 4
		params.max_memory      = 20.GB
	}
	desktop {
        docker.enabled         = true
        docker.userEmulation   = true
		process.executor       = 'local'
		params.max_cpus        = 2
		params.max_memory      = 4.GB
	}
	arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}