
// base defaults
params.input  = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata/1d1e23c36804b4a1324dd23f58a9d18bd5f89c30/L37_tutoring/regression/dataset/mbg_exams_blood_pressure_data.tsv"

// defaults
params.outdir = "./"
params.max_cpus        = 2
params.max_memory      = 4.GB

process {
	// default
	machineType = 'n1-standard-1'
	disk        = '100 GB'
	// specific resources
	withName: LINEAR_REGRESSION {
		machineType = 'n1-standard-2'
	}
	withName: K_NEAREST_NEIGHBOURS {
		machineType = 'n1-standard-2'
	}
}

profiles {
	gls {
	process.executor = 'google-batch'
	workDir = 'gs://YOUR-GOOGLE-BUCKET/work'
	google.location = 'europe-west4'
	google.region  = 'europe-west4'
	google.project = 'YOUR-OWN-PROJECT-NAME'
	google.lifeSciences.bootDiskSize = '50 GB'
	}
}