
// base defaults
params.input  = "https://raw.githubusercontent.com/lescai-teaching/class-bigdata/main/L30_nextflow_your-workflow/L30_dataset_metastasis_risk.tsv"

// defaults
params.outdir = "./"
params.max_cpus        = 1
params.max_memory      = 4.GB

// profiles parameters
profiles {
	helicon {
        singularity.enabled    = true
        singularity.autoMounts = true
		process {
			executor = 'slurm'
			queue    = 'short'
			withName: RANDOMFOREST {
				memory = 10.GB
				time   = 45.m
				cpus = 1
			}
			withName: LOGREG {
				memory = 8.GB
				time   = 15.m
				cpus   = 1
			}
			withName: READ_DATA {
				memory = 5.GB
				time   = 15.m
				cpus   = 1
			}
		}
		params.max_cpus        = 4
		params.max_memory      = 16.GB
	}
	desktop {
        docker.enabled         = true
        docker.userEmulation   = true
		process.executor       = 'local'
		params.max_cpus        = 1
		params.max_memory      = 4.GB
	}
	arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}